name: Release CLI

on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.22.5
      - name: Build
        run: |
          GOOS=linux GOARCH=amd64 go build -o release/chief-linux-amd64
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/chief-linux-amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
